<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Edit a Book Entry</title>
  </head>
  <body>
    <h1>Edit a Book Entry</h1>
    <form action='/books/<%=books.id%>?_method=PUT' method='POST'>
      Title: <input type='text' name='title' value='<%=books.title%>'><br />
      Author: <input type='text' name='author' value='<%=books.author%>'><br />
      Book Cover Image: <input type='text' name='img' value='<%=books.img%>'><br />
      Synopsis: <textarea type='text' name='synopsis'><%=books.synopsis%></textarea>
      <button>Submit Changes</button>
    </form>
  </body>
</html>
