<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <% include ../partials/head.ejs %>
    <title>Edit a Book Entry</title>
  </head>
  <body>
  <% include ../partials/nav.ejs %>
  <div class='container'>
    <% include ../partials/aside.ejs %>
    <h4>Edit a Book Entry</h4>
    <form action='/books/<%=books.id%>?_method=PUT' method='POST'>
      Title: <input type='text' name='title' value='<%=books.title%>'><br />
      Author: <input type='text' name='author' value='<%=books.author%>'><br />
      Book Cover Image: <input type='text' name='img' value='<%=books.img%>'><br />
      Synopsis: <input type='text' name='synopsis' value='<%=books.synopsis%>'><br />
      <button>Submit Changes</button>
    </form>
  </div>
  </body>
</html>
