<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>bookshelf.</title>
  </head>
  <body>
    <!-- header partial -->
    <!-- nav partial?  -->
    <h1>Index Page</h1>
    <!-- main div -->
    <div id='main'>
      <a href='/books/new'><button>Add Book</button></a>
        <% for(let i = 0; i < books.length; i++) { %>
          <div class='bookCard'>

            <a href='/books/<%=books[i].id%>'><%=books[i].title %></a>
            <br />
            <%=books[i].author %>
            <br />
            <img src='<%=books[i].img %>'>
            <br />
            <%=books[i].synopsis %>
          </div>
          <br />
        <% } %>
    </div>
    <!-- footer partial -->
  </body>
</html>
