<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <% include ../partials/head.ejs %>
  </head>
  <body>
    <!-- nav partial -->
    <% include ../partials/nav.ejs %>
    <!-- main div -->
    <div class='main'>
      <div class="aside">
        <% include ../partials/aside.ejs %>
      </div>
      <div class='container'>
        <div class='card showPageCard'>
          <h3 style="text-decoration:underline"><%=books.title%></h3>
          <div class='innerCard'>
            <img src='<%=books.img%>'>
            <div class='bookInfo'>
              <h4>Author:</h4> <%=books.author%>
              <h4>Synopsis:</h4><%=books.synopsis%>
            </div>
          </div>
          <div class='showBtns'>
            <a href="/books/<%=books.id; %>/edit"><button>Edit</button></a>

          </div>
        </div>
        <form action="/books/<%=books.id%>?_method=DELETE" method="POST">
          <button class='removeBtn'>Remove</button>
        </form>
      </div>
    </div>
  </body>
</html>
