<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <% include ../partials/head.ejs %>
  </head>
  <body>
    <!-- nav partial -->
    <% include ../partials/nav.ejs %>
    <!-- main div -->
    <div class='main'>
      <div class="aside">
        <% include ../partials/aside.ejs %>
        <p class='signaure'>
          created @ GA by Sean Briar
        </p>
      </div>
      <div class='container'>
        <div class='card showPageCard'>
          <h3 style="text-decoration:underline"><%=books.title%></h3>
          <div class='innerCard'>
            <img class='bookImg' src='<%=books.img%>'>
            <div class='bookInfo'>
              <h4>Author:</h4> <%=books.author%>
              <h4>Synopsis:</h4><%=books.synopsis%>
            </div>
          </div>
          <div class='showBtns'>
            <a href="/books/<%=books.id; %>/edit"><button>Edit</button></a>
            <div class='purchaseIcons'>
              <!-- amazon icon -->
              <a class='purchaseBtn' style='text-decoration:none' href='https://www.amazon.com/'><i class="fa fa-amazon" style="font-size:36px;color:#284B63"></i></a>
              <!-- google icon -->
              <a class='purchaseBtn' style='text-decoration:none' href='https://play.google.com/store/books'><i class="fa fa-google" style="font-size:36px;color:#284B63"></i></a>
              <!-- apple icon -->
              <a class='purchaseBtn' style='text-decoration:none' href='https://itunes.apple.com/us/genre/books/id38'><i class="fa fa-apple" style="font-size:36px;color:#284B63"></i></a>
            </div>
          </div>
        </div>
        <form action="/books/<%=books.id%>?_method=DELETE" method="POST">
          <button class='removeBtn'>Remove</button>
        </form>
      </div>
    </div>
  </body>
</html>
