<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
      <% include ../partials/head.ejs %>
    <title>bookshelf.</title>
  </head>
  <body>
    <% include ../partials/nav.ejs %>
    <h3><%=books.title%></h3>
    <img src='<%=books.img%>'>
    <h5>Author:</h5> <%=books.author%>
    <h5>Synopsis:</h5> <%=books.synopsis%>
    <br />
    <a href="/books/<%=books.id; %>/edit"><button>Edit</button></a>
    <br />
    <form action="/books/<%=books.id%>?_method=DELETE" method="POST">
      <button>Remove</button>
    </form>
  </body>
</html>
